# Godot 4+ specific ignores
.godot/
.vscode/
*.translation
rust_bindings/target/debug/*/
rust_bindings/target/debug/*rust_bindings_godot.dll
rust_bindings/target/debug/*rust_bindings_godot.dll.*
Notes/Notes/.obsidian/
build/.cmake/
build/compile_commands.json
build/CMakeFiles/
